<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div th:replace="~{ nav.html::navbar }"></div>
    <div class="detail">
   <h4>상세페이지</h4>
   <button class="edit-button"><a th:href="@{'/edit/'+${data.id}}">수정</a></button>
   <button 
   th:onclick="fetch('/delete?docid=[[${data.id}]]',
   		{
   		method: 'DELETE'
   		})
      .then((r)=>{r.json()})
      .then(()=>{
        location.replace('/list')
      })
      .catch((e)=>{
        console.log(e + '에러남')
      })"
   >삭제</button>
   <img src="https://placehold.co/300"/>
   <h4 th:text="${data.title}"></h4>
   <p th:text="${data.price} + '원'"></p>
</div>
</body>
</html>